$header-height: 64px;
.basicHeader {
	line-height: $header-height;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 40px;
	width: 100%;
	box-shadow: 10px 10px 10px #333;
	.logo {
		display: flex;
		gap: 4px;
		cursor: pointer;
		.pic {
			height: 74px;
		}
		.text {
			font-size: 32px;
			font-weight: 900;
			color: #336add;
		}
	}
	.avatar {
		width: 100px;
		height: 100px;
		cursor: pointer;
	}
}
